<div>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Avatar</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teachers of teacher">
        <td scope="row">{{teachers.id}}</td>
        <td><app-table-name [name]="teachers.name"></app-table-name></td>
        <td>{{teachers.age}}</td>
        <td><app-table-gender [gender]="teachers.gender ? 'Nam' : 'Nữ' "></app-table-gender></td>
        <td>
          <app-table-avatar [src]="teachers.image" [age]="teachers.age"></app-table-avatar>
          <!-- <img src="{{teachers.image}}" alt="{{teachers.name}}" width="20%" height="20%"> -->
        </td>
        <td>
          <app-table-status [status]="teachers.status"></app-table-status>
          <!-- <span *ngIf="teachers.status === 1">Đi làm</span>
          <span *ngIf="teachers.status === 0">Đã nghỉ làm</span> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
