<div>
  <a routerLink="/admin/products">
      <button class="btn btn-bg-primary">Quay lai</button>
  </a>
</div>
<div>
  <div>ID SP: {{product._id}}</div>
  <div>Name SP: {{product.name}}</div>
  <div>Author SP: {{product.author}}</div>
  <div>Price SP: {{product.price}}</div>
  <div>Image SP: <img src={{product.img}} alt=""></div>
  <div>Description SP: {{product.desc}}</div>
  <div>
    <!-- <input type="number" min="1" [value]="cartItemValue" (input)="onInputValueChanege($event)"> -->
  </div>
</div>
