<p>{{inputValues | json}}</p>
<form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
    <div class="form-group">
      <label for="">Username</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="inputValues.name" required #name="ngModel" minlength="8">
      <app-showvalidate [field]="name" key="Tên"></app-showvalidate>
      <!-- <span class="text-danger" *ngIf="(name.dirty || name.touched) && name.errors?.['required']">bạn chưa nhập Username</span>
      <span class="text-danger" *ngIf="(name.dirty || name.touched) && name.errors?.['minlength']">Username nhập đủ 6 ký tự trở lên</span> -->
    </div>
    <div class="form-group">
      <label for="">Age</label>
      <input type="number" class="form-control" name="age" [(ngModel)]="inputValues.age" required #age="ngModel" min="1" max="100">
      <app-showvalidate [field]="age" key="Tuổi"></app-showvalidate>
      <!-- <span class="text-danger" *ngIf="(age.dirty || age.touched) && age.errors?.['required']">bạn chưa nhập Age</span>
      <span class="text-danger" *ngIf="(age.dirty || age.touched) && age.errors?.['min']">số tuổi tối thiếu là 1</span>
      <span class="text-danger" *ngIf="(age.dirty || age.touched) && age.errors?.['max']">số tuổi không vượt quá 100</span> -->
    </div>

    <div class="form-group">
      <label for="">Email</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="inputValues.email" required  #email="ngModel" >
      <app-showvalidate [field]="email" key="Email"></app-showvalidate>
    </div>

    <div class="form-group">
      <label for="">SĐT</label>
      <input type="text" class="form-control" name="sdt" [(ngModel)]="inputValues.sdt" required  #sdt="ngModel" >
      <app-showvalidate [field]="sdt" key="SĐT"></app-showvalidate>
    </div>

    <div class="form-group">
      <label for="">Avatar</label>
      <input type="text" class="form-control" name="avatar" [(ngModel)]="inputValues.avatar" required  #avatar="ngModel" >
      <app-showvalidate [field]="avatar" key="Avatar"></app-showvalidate>
    </div>
    <div>
      <button class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
    </div>
</form>

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Tuổi</th>
        <th>Email</th>
        <th>SĐT</th>
        <th>Avatar</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.email}}</td>
        <td>{{user.sdt}}</td>
        <td><img src="{{user.avatar}}" alt="" ></td>
        <td>
          <button class="btn btn-primary" (click)="onEdit(user.id)">Sủa</button>
          <button (click)="onDelete(user.id)" class="btn btn-danger">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
*/
