<div class="table table-hover">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>AUTHOR</th>
          <th>PRICE</th>
          <th>IMAGE</th>
          <th>DESCRIPTION</th>
          <th>STATUS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product._id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.author}}</td>
          <td>{{product.price}}</td>
          <td>
            <img src={{product.img}}>
          </td>
          <td >{{product.desc}}</td>
          <td>
            <button *ngIf="product.status === 1" class="btn btn-bg-success" (click)="onUpdateStatus(product._id, 0)" >On</button>
            <button *ngIf="product.status === 0" class="btn btn-bg-dark" (click)="onUpdateStatus(product._id, 1)">Off</button>
          </td>
          <td>
            <a routerLink="/admin/products/{{product._id}}">
              <button class="btn-btn-bg-warrios">Detail</button>
            </a>
            <a routerLink="/admin/products/edit/{{product._id}}">
              <button class="btn btn-bg-info">Edit</button>
            </a>
            <button class="btn btn-bg-danger" (click)="onDelete(product._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
