<div class="modal-body">
  <form id="form-signin" class="form-signin mt-2" action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-label-group">
          <input type="email" class="form-control" placeholder="Nhập địa chỉ email" name="email" required autofocus  formControlName="email">
      </div>

      <div class="form-label-group">
          <input type="password" class="form-control" placeholder="Mật khẩu" name="password" required  formControlName="password">
      </div>

      <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Nhớ mật khẩu</label>
          <a href="#" class="float-right text-decoration-none" style="color: #F5A623">Quên mật
              khẩu</a>
      </div>

      <button class="btn btn-lg btn-block btn-signin text-uppercase text-white" type="submit"
          style="background: #F5A623">Đăng nhập</button>
  </form>
</div>
